# ---------------------------
# renv
# ---------------------------
renv/library/

# ---------------------------
# Data (never commit microdata)
# ---------------------------
data/raw/
data/clean/
data/processed/

# ---------------------------
# Outputs
# ---------------------------
# Ignore outputs by default
output/

# But allow example aggregated outputs
!output/tables/
!output/figures/

# Ignore temporary files inside outputs if needed
output/**/*.tmp
output/**/*.log

# ---------------------------
# R / RStudio
# ---------------------------
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# ---------------------------
# VS Code
# ---------------------------
.vscode/

# ---------------------------
# macOS
# ---------------------------
.DS_Store
